* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "Segoe UI", Roboto,Oxygen, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}
